h1{
    color : red;
    background-color:black;
    font-size: 40px;
    font-family: Arial;
    border:2px solid darkgray;
    padding: 80px;
    margin: 100px;
    width: 500px;
    height: 80px;
}
p{
    color:blue
}
.section-heading{
    color:purple;
    background-color:skyblue ;
}
#dsa{
    color: blue;
    background-color: burlywood;
}
.special{
    color: lightgreen;
    background-color: darkblue;
}
h1,h2{
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    width: 300px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    gap: 20px;
}
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.card {
    border: 2px solid black;
    padding: 20px;
}
.Display {
    background-color:blueviolet;
    padding: 20px;
    margin: 10px;
    border: 4px grey;
}
.display-heading{
    color:rgb(255, 0, 0);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif ;
}