/* ---------- Base ---------- */
.page-header{
    color : red;
    background-color:black;
    font-size: 40px;
    font-family: Arial;
    border:2px solid darkgray;
    padding: 80px;
    margin: 100px;
    width: 500px;
    height: 80px;
}

.intro-text{
    color:blue;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------- Elements ---------- */
.section-heading{
    color:purple;
    background-color:skyblue ;
}

.practice-box {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    width: 300px;
}

.section-heading{
    position: sticky;
    top: 0;
}

/* ---------- Components ---------- */
.learning-cards {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));   
    gap: 20px;
}
.learning-card {
    border: 2px solid black;
    padding: 20px;
}
.learning-section {
    background-color:blueviolet;
    padding: 20px;
    margin: 10px;
    border: 4px grey;
}
.learning-section-heading{
    color:rgb(255, 0, 0);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif ;
}

/* ---------- Modifiers ---------- */
.special{
    color: lightgreen;
    background-color: darkblue;
}

